.menu-list-item {
  cursor: pointer;
  color: gray;
  text-decoration-style: none;
  margin: 10px;
}

.menu-list-item:hover {
  cursor: pointer;
  color: dodgerblue;
  text-decoration-style: none;
}

.menu-list-item:active {
  text-decoration-style: none;
}
