.contact-links {
  position: fixed;
  top: 10px;
  right: 10px;
}

.contact-link {
  height: 30px;
  margin: 5px;
  background: transparent;
}

.contact-link:hover {
  cursor: pointer;
  background: transparent;
  position: relative;
  transform: scale(1.1);
}
