.buffer {
  margin-bottom: 15%;
}

.products {
  margin-top: 5%;
  display: flex;
  flex-shrink: 1;
  flex-flow: wrap;
  justify-content: center;
}

.product {
  margin: 1%;
}

.product-image {
  border-radius: 2%;
  box-shadow: 0 5px 40px #999, 0 3px 10px #999;
}

@media screen and (min-device-width: 375px) and (max-device-width: 812px) {
  .products {
    margin-top: 20%;
  }
}

@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 4) {
  .products {
    margin-top: 20%;
  }
}
